__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
*.egg
.venv/
venv/
env/
*.log
*.sqlite3
/staticfiles/
/media/
node_modules/
.dart_tool/
.packages
build/
*.iml
.idea/
.vscode/
.DS_Store
Thumbs.db
.env
.env.prod
docker-compose.override.yml
*.pem
*.key
firebase-credentials.json
